* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.link-button {
  border: none;
  width: 100%;
  height: 100%;
  background-color: #303944;
}

.link-button p {
  font-size: small;
}

.link-div {
  height: 120px;
  width: 100%;
  border: 0.5px solid #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex: 1;
  text-align: center;
  color: #fff;
}

.footer-btn {
  font-size: 25px;
}

.percentage-section {
  width: 90px;
  border: 5px solid lightgray;
  height: 90px;
  border-radius: 50%;
  margin: auto;
  font-size: x-large;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #738497;
}

.title-section {
  text-align: center;
  font-size: small;
  color: lightgray;
  padding-top: 5px;
}

.main-section {
  height: 150px;
  position: relative;
  margin: 11px 11px;
  width: 30%;
}

i {
  cursor: pointer;
}

.summary-section {
  overflow-x: auto;
}

.summary-alignment {
  display: flex;
  align-items: center;
}

.summary-section::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  background: #aaa;
}

.summary-section::-webkit-scrollbar-thumb:horizontal {
  background: #303944;
  border-radius: 10px;
}

.card-stuff {
  min-width: 167px;
}

.lower-section {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  right: 0;
}

.links-info {
  font-size: small;
  text-decoration: none;
  color: lightgray;
  font-weight: bold;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-det {
  width: 100%;
  height: 100%;
}

.home-section {
  position: relative;
  margin-top: 60px;
}

.footer {
  background-color: #303944;
  display: flex;
  flex-direction: column;
  width: 15%;
  position: fixed;
  top: 0;
  height: 100em;
  margin-top: 65px;
}

.image-section {
  height: 100%;
  background-color: #f3f4f6;
  width: 50%;
  padding: 10px;
}

.activity-body {
  width: 50%;
  padding: 5px 20px 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.trash-section {
  color: lightgray;
}

.trash-section:hover {
  color: deepskyblue;
}

.activity-title {
  font-size: larger;
  font-weight: bold;
  overflow-x: auto;
  width: 100%;
}

.menu-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  z-index: 1;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-mask {
  background-color: #000;
  opacity: 0.6;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.itag-section {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.header-section {
  flex: 7;
  display: flex;
  justify-content: center;
}

.header-section h3,
.login-section h3 {
  font-weight: bold;
}

.login-section h3 {
  color: gray;
}

.display-positive,
.display-negative {
  width: 50px;
  border: 5px solid lightgray;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  font-size: small;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #738497;
}

.random {
  align-items: center;
  width: 95%;
  margin: auto;
}

.clock-border {
  border: 1px solid #f3f4f6;
  height: 17em;
  display: flex;
  width: 17em;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.start-watch,
.stop-watch {
  border: none;
  padding: 15px 50px;
  color: gray;
}

.stop-watch {
  background-color: #97e494;
}

.activity-header {
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

.measure-section {
  background-color: #f3f4f6;
  padding-bottom: 20px;
  margin-top: 60px;
}

.lower-section-button {
  width: 60%;
  margin: auto;
  justify-content: center;
}

.general-login-section {
  padding: 30px 10%;
}

.login-section {
  background-color: #f3f4f6;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-section input {
  border: none;
  width: 90%;
  height: 40px;
  margin-bottom: 10px;
  padding: 20px;
  font-size: medium;
  font-weight: normal;
  outline: none;
}

.nav-bar-section {
  position: fixed;
  background-color: #42b5e8;
  width: 100%;
  z-index: 1;
  top: 0;
  padding: 0 20px;
}

.measurement-top {
  margin-top: 60px;
}

.application-measurement {
  width: 100%;
}

.date-value {
  display: flex;
  flex-direction: column;
  color: #597085;
  justify-content: flex-end;
}

.date-value h6 {
  font-weight: bold;
}

.date-value span {
  font-size: small;
  font-weight: bold;
}

.btn-plus {
  border: none;
  background-color: #42b5e8;
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 3px;
  text-decoration: none;
  border-radius: 1px;
  outline: none;
}

.btn-plus:hover {
  background-color: #0269d9;
}

.create-activity {
  margin-top: 60px;
  background-color: #f3f4f6;
}

.create-activity-inner {
  width: 85%;
  margin-left: 15%;
}

.activity-heading {
  padding: 10px;
  text-align: center;
  color: #afb0b2;
  width: 100%;
  background-color: #fff;
}

.image-upload {
  background-color: #fff;
}

.left-image,
.right-image {
  background-color: #a3a6ad;
  margin: 0 5px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 4em;
  color: #d1d2d6;
  width: 45%;
}

.input-control {
  width: 93%;
  border: none;
  height: 35px;
  margin-left: 1em;
  padding: 10px;
}

.btn-control {
  padding: 10px 25px;
  background-color: #97e494;
  border: none;
  color: #fff;
  margin-left: 1em;
}

.file-section {
  background-color: #a3a6ad;
  padding: 10px;
}

.information-section {
  margin-top: 60px;
  background-color: #f3f4f6;
  padding: 20px;
  width: 85%;
  margin-left: 15%;
}

.copyright {
  font-size: medium;
  margin-bottom: 20px;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #fff;
}

.date-section {
  border-bottom: 2px solid #f3f4f6;
  color: #a3a6ad;
  margin-left: 15%;
}

.activities-main {
  background-color: #f3f4f6;
  margin-left: 15% !important;
  width: 85%;
  display: flex;
}

.summary-display-section {
  width: 85%;
  margin-left: 15%;
  background-color: #fff;
}

.activity-text small {
  font-weight: bold;
}

.activity-inner {
  font-size: 20px;
  font-weight: bold;
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.first-div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.second-div {
  flex: 4;
  display: flex;
  justify-content: center;
}

.third-div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.button-details {
  border: none;
  padding: 2px 5px;
  color: #fff;
  margin-bottom: 2px;
  background-color: #42b5e8;
  width: 85%;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.title-div-section {
  overflow-x: auto;
}

.title-div-section::-webkit-scrollbar {
  width: 0;
}

.measurement-outer-section {
  width: 85%;
  margin-left: 15%;
  padding-bottom: 60px;
}

.link-class {
  text-decoration: none;
  margin-left: auto;
}

.active-button {
  background-color: #42b5e8;
}

button {
  outline: none !important;
}

.nav-link {
  width: unset;
}

.activity-link {
  display: flex;
  justify-content: center;
  width: 8%;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    top: unset;
  }

  .lower-section-button {
    width: 90%;

    /* margin-bottom: 60px; */
  }

  .links-info {
    justify-content: start;
  }

  .image-section {
    height: 100%;
    background-color: #f3f4f6;
    width: 90%;
  }

  .stop-watch-link {
    width: 45%;
  }

  .stop-watch {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .start-watch {
    width: 45%;
    display: flex;
    justify-content: center;
  }

  .nav-link {
    width: 25%;
    font-size: small;
  }

  .link-div {
    height: 70px;
    width: 100%;
    color: #fff;
  }

  .link-button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: #303944;
  }

  .date-section {
    margin-left: 0;
  }

  .activities-main {
    margin-left: 0 !important;
    width: 100%;
  }

  .summary-display-section,
  .create-activity-inner,
  .information-section,
  .measurement-outer-section {
    width: 100%;
    margin-left: 0;
  }

  .main-section {
    height: 150px;
    position: relative;
    margin: 11px 4px;
    width: 47%;
  }

  .activity-title {
    font-size: small;
    font-weight: bold;
  }
}

@media only screen and (max-width: 360px) {
  .main-section {
    height: 105px;
  }

  .image-det {
    width: 100%;
    height: 70%;
  }
}

@media only screen and (max-width: 340px) {
  .file-section {
    width: 85%;
    font-size: small;
  }

  .link-div {
    font-size: x-small;
  }

  .activity-body {
    width: 90%;
  }

  .lower-section-button {
    margin-bottom: 60px;
  }
}
